
<div id=menu>
    <div class="container">
        <!-- Navigation Bar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="@Url.Action("Index", "DienDanThaoLuan")">TRANG CHỦ</a>
                    </li>
                    @Html.Action("_PartialChuDe","DienDanThaoLuan")
                    <li class="nav-item"><a class="nav-link" href="#">BÀI VIẾT MỚI</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">GÓP Ý</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">THÔNG BÁO</a></li>
                </ul>
            </div>
        </nav>
    </div>
</div>