<style type="text/css">
    .neon-text {
    font-size: 35px;
    color: #fff;
    text-shadow:
        0 0 5px #00f,
        0 0 10px #00f,
        0 0 20px #00f,
        0 0 30px #00f;
    }

</style>
<div class="banner text-white text-center py-5 neon-text" style="margin-bottom: 0px">
    <h2>Chào Mừng Bạn Đến Với Diễn Đàn IT Xperience</h2>
    <p>Nơi chia sẻ, thảo luận và học hỏi về công nghệ thông tin</p>
</div>